Repository Pagaoo/pilates-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, tests, configuration, documentation, migrations, ci-cd

.github/labeler.yml:

backend:
  - "src/main/java/**"
  - "src/main/resources/**"
  - "src/main/**"

tests:
  - "src/test/java/**"
  - "src/test/resources/**"

configuration:
  - "src/main/resources/application.properties"
  - "src/main/resources/application.properties-*"

documentation:
  - "README.md"
  - "docs/**"

migrations:
  - "src/main/resources/db/**"

ci-cd:
  - ".github/workflows/**"

test
  .github/workflows/label.yml
Labels: ci-cd

fix: test
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend

[fix] test v2
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend

fix: teste v3
  .github/workflows/label.yml
Labels: ci-cd

fix: teste v4
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend

fix: teste v5
  .github/workflows/label.yml
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend, ci-cd

fix: teste v6
  .github/workflows/label.yml
Labels: ci-cd

fix:teste v7
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend

fix:teste v8
  .github/workflows/label.yml
  src/main/java/com/backend/pilates/services/EnrollmentService.java
Labels: backend, ci-cd

chore: refactored the return from the posts endpoints
  src/main/java/com/backend/pilates/controllers/ClassesController.java
  src/main/java/com/backend/pilates/controllers/EnrollmentController.java
  src/main/java/com/backend/pilates/controllers/ProfessorController.java
  src/main/java/com/backend/pilates/controllers/RolesController.java
  src/main/java/com/backend/pilates/controllers/StudentController.java
  src/main/java/com/backend/pilates/controllers/UserController.java
Labels: backend

fix: removed tolower from label.yml
  .github/workflows/label.yml
Labels: ci-cd

feature: post documentation written
  src/main/java/com/backend/pilates/controllers/ClassesController.java
Labels: backend

chore: basic documentation for all the api endpoints
  src/main/java/com/backend/pilates/controllers/ClassesController.java
  src/main/java/com/backend/pilates/controllers/EnrollmentController.java
  src/main/java/com/backend/pilates/controllers/ProfessorController.java
  src/main/java/com/backend/pilates/controllers/RolesController.java
  src/main/java/com/backend/pilates/controllers/StudentController.java
  src/main/java/com/backend/pilates/controllers/UserController.java
Labels: backend

fix: test
  .github/workflows/label.yml
Labels: ci-cd

fix: test
  .github/workflows/label.yml
Labels: ci-cd

fix: test2
  .github/workflows/label.yml
Labels: ci-cd

fix: indentation
  .github/workflows/label.yml
Labels: ci-cd

fix: indentation teste
  .github/workflows/label.yml
Labels: ci-cd

feature: started coding password encryption and authorization
  pom.xml
  src/main/java/com/backend/pilates/components/CustomAuthenticationProvider.java
  src/main/java/com/backend/pilates/config/SecurityConfiguration.java
  src/main/java/com/backend/pilates/repositories/ProfessorRepository.java
Labels: backend

feature: method to login created and manually tested
  src/main/java/com/backend/pilates/components/CustomAuthenticationProvider.java
  src/main/java/com/backend/pilates/model/User.java
  src/main/java/com/backend/pilates/services/ProfessorService.java
  src/main/java/com/backend/pilates/services/UserService.java
Labels: backend

fix: removed label by title
  .github/workflows/label.yml
Labels: ci-cd

feature: adicionado user details service e authentication provider para lidar com a autenticação
  src/main/java/com/backend/pilates/config/SecurityConfiguration.java
  src/main/java/com/backend/pilates/config/SecurityUser.java
  src/main/java/com/backend/pilates/config/UserDetailsServiceImpl.java
  src/main/java/com/backend/pilates/repositories/ProfessorRepository.java
  src/main/java/com/backend/pilates/repositories/UsersRepository.java
Labels: backend

deletd: deleted CustomAuthenticationProvider.java to user more spring wrapper classes
  src/main/java/com/backend/pilates/components/CustomAuthenticationProvider.java
Labels: backend

Developer (#65)
  src/main/java/com/backend/pilates/components/CustomAuthenticationProvider.java
  src/main/java/com/backend/pilates/config/SecurityConfiguration.java
  src/main/java/com/backend/pilates/config/SecurityUser.java
  src/main/java/com/backend/pilates/config/UserDetailsServiceImpl.java
  src/main/java/com/backend/pilates/repositories/ProfessorRepository.java
  src/main/java/com/backend/pilates/repositories/UsersRepository.java
Labels: backend
